modify:
{
	match:
	{	
		"hammerid" "1385327" //survivor movement earlier
	}
	delete:
	{
		"OnTrigger" "relay_intro_survivor_camerasTrigger12.7-1"
	}
	insert:
	{
		"OnTrigger" "relay_intro_survivor_camerasTrigger0-1"
	}
}
modify:
{
	match:
	{
		"hammerid" "818289"
	}
	replace:
	{
		"classname" "prop_door_rotating"
		"spawnflags" "40960"
	}
	delete:
	{
		"skin" "0"
		"returndelay" "-1"
		"opendir" "0"
		"hardware" "1"
		"glowcolor" "0 0 0"
		"body" "1"
		"axis" "-10944 -4798 468.62, -10944 -4798 468.62"
		"ajarangles" "0 0 0"
	}
	insert:
	{
		"wait" "0"
		"unlocked_sentence" "0"
		"solidbsp" "0"
		"rendermode" "0"
		"renderfx" "0"
		"renderamt" "255"
		"loopmovesound" "0"
		"locked_sentence" "0"
		"lip" "0"
		"ignoredebris" "0"
		"disablereceiveshadows" "0"
	}
}
; =====================================================
; ================  EXPLOITS BLOCKED  =================
; =====================================================
add:
; --- block jump across bridge to skip ladders
{
    ; invisible block on right side
    "origin" "-12072 -11992 -18"
    "mins" "0 0 0"
    "maxs" "18 20 200"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
{
    ; invisible block on left side
    "origin" "-12584 -11992 -18"
    "mins" "-26 0 0"
    "maxs" "0 20 200"
    "initialstate" "1"
    "BlockType" "1"
    "classname" "env_player_blocker"
}
; =====================================================


; =====================================================
; ================  NUISANCE CHANGES  =================
; =====================================================
add:
; --- block hunters falling off and under map at end of map (confogl only)
{
    ; invisible block along back rocky section
    "origin" "-11872 -4626 1034"
    "mins" "-448 -238 -470"
    "maxs" "448 238 470"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
; --- block SI getting permanently stuck in corner near SI ladder (confogl only)
{
    ; invisible block in corner near rocks
    "origin" "-11353 -4837 591"
    "mins" "-71 -45 -21"
    "maxs" "71 45 21"
    "initialstate" "1"
    "BlockType" "0"
    "classname" "env_physics_blocker"
}
; =====================================================